# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
venv/
env/
.venv/
*.sqlite3
*.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
.pnp/
.pnp.js

# React build
frontend/build/

# IDE
.vscode/settings.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env
.env
.env.local
.env.production
